/* Styles for the ClientInfo component */
.client-info {
    background-color: #303030;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .client-info h2 {
    font-size: 1.5rem;
    color: #47f9ff;
  }
  
  .client-info p {
    font-size: 1rem;
    color: #c1faff;
  }
  