/* Styles for the JobDetailsInfo component */
.job-details-info {
    background-color: #303030;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .job-details-info p {
    font-size: 1rem;
    color: #c1faff;
  }
  
  .job-details-info p strong {
    font-weight: bold;
  }
  