.skills-list {
    background-color: #303030;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .skills-list h3 {
    font-size: 1.5rem;
    color: #47f9ff;
  }
  
  .skills-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills-list li {
    font-size: 1rem;
    color: #c1faff;
  }